<table>
  <tr>
    <th>Title</th>
    <th>Published</th>
    <th>Actions</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= Time.now.to_s(:db) %></td>
    <td>
      <a href="/admin/posts/<%= post.id %>/edit">Edit</a>
      <a href="/admin/posts/<%= post.id %>/delete">Delete</a>
    </td>
  </tr>
  <% end %>
</table>