<form action="/account/login" method="post">
  
  <p><input type="text" name="email" value="" id="email" /></p>
  <p><input type="text" name="password" value="" id="password" /></p>
  <p><input type="submit" value="Login"></p>
  
</form>