<!DOCTYPE html>

<html>
  <head>
    <title>My first Mibo blog</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
