<!DOCTYPE html>

<html>
  <head>
    <title>My first Mibo blog</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
  </head>
  
  <body>
    <p>
      User: <%= env['warden'].user.user_name if env['warden'].user %>
    </p>
    <%= yield %>
  </body>
</html>